---
import Youtube from "@components/common/youtube.astro";
import Layout from "@layouts/layout.astro";
---

<Layout>
  <section class="relative overflow-hidden px-5vw py-24 sm:py-32">
    <div class="mx-auto max-w-8xl">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <Youtube />
        <Youtube />
      </div>
    </div>
  </section>
</Layout>
