---
import ContactCta from "@components/blocks/contact-cta.astro";
import Layout from "@layouts/layout.astro";

export const prerender = true;
---

<Layout
  seo={{
    title: "Kontakt",
    description:
      "Kontaktieren Sie unser erfahrenes Team von BESTMED 360 unkompliziert per E-Mail oder Kontaktformular. Wir beraten Sie gerne rund um Arbeitsmedizin, Gesundheitsschutz und Arbeitssicherheit.",
  }}
>
  <main class="isolate">
    <ContactCta />
  </main>
</Layout>
