---
import Layout from "@layouts/layout.astro";
---

<Layout
  seo={{
    title: "Kontakt",
    description: "",
  }}
>
  <main class="isolate">
    <section class="relative -z-10 px-5vw py-24 sm:py-32">
      <!-- svg effects -->
      <div
        class="absolute left-1/2 right-0 -z-10 top-0 -ml-24 transform-gpu overflow-hidden blur-3xl lg:ml-24 xl:ml-48"
        aria-hidden="true"
      >
        <div
          class="aspect-[801/1036] w-[50.0625rem] bg-gradient-to-tr from-brand to-brand/80 opacity-30"
          style="clip-path: polygon(63.1% 29.5%, 100% 17.1%, 76.6% 3%, 48.4% 0%, 44.6% 4.7%, 54.5% 25.3%, 59.8% 49%, 55.2% 57.8%, 44.4% 57.2%, 27.8% 47.9%, 35.1% 81.5%, 0% 97.7%, 39.2% 100%, 35.2% 81.4%, 97.2% 52.8%, 63.1% 29.5%)"
        >
        </div>
      </div>
      <div class="overflow-hidden">
        <div class="mx-auto max-w-8xl px-5vw pb-32 pt-36 sm:pt-60 lg:pt-32">
          <div
            class="mx-auto max-w-2xl gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center"
          >
            <div class="w-full max-w-xl lg:shrink-0 xl:max-w-2xl">
              <h2 class="text-3xl font-bold tracking-tight text-foreground">
                Get in touch
              </h2>
              <p class="mt-6 text-lg leading-8 text-foreground/80">
                Proin volutpat consequat porttitor cras nullam gravida at. Orci
                molestie a eu arcu. Sed ut tincidunt integer elementum id sem.
                Arcu sed malesuada et magna.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mx-auto max-w-2xl text-center"></div>
    </section>
  </main>
</Layout>
