---
import { cn } from "@utils/classes";
import Navbar from "./navbar.astro";
---

<header
  id="header"
  class={cn(
    "absolute z-10 w-full min-h-0",
    "top-0 md:top-auto",
    "transition-[opacity] ease-in-out"
  )}
>
  <div class="mx-auto px-5vw max-w-8xl">
    <Navbar />
  </div>
</header>
