---
import ButtonLink from "@components/button/button-link.astro";
import ToggleMenu from "@components/common/toggle-menu.astro";
import Logo from "@components/logo.astro";
import { config, menu } from "@config/index";
import { cn } from "@utils/classes";

const pathname = new URL(Astro.request.url).pathname;
---

<div
  class={cn(
    // common
    "py-6 px-5vw max-w-8xl mx-auto",
    // md+ (desktop)
    "md:flex md:justify-between md:items-center"
  )}
>
  <div class="mr-auto flex justify-between md:flex-1">
    <a href="/" class="flex items-center">
      <span class="sr-only" itemprop="name">
        {config.site.title}
      </span>
      <Logo />
    </a>
    <div class="flex lg:hidden">
      <ToggleMenu />
    </div>
  </div>

  <nav
    class={cn(
      "flex-1 hidden items-center overflow-y-auto overflow-x-hidden",
      // md+ (desktop)
      "md:flex md:overflow-y-visible md:overflow-x-visible"
    )}
    itemscope
    itemtype="https://schema.org/SiteNavigationElement"
    role="menu"
    aria-label="Main navigation"
  >
    <ul
      class={cn(
        "flex flex-col w-full pt-4",
        "md:pt-0 md:flex-row md:self-center md:gap-x-4"
      )}
    >
      {
        menu.map((m) => (
          <li class="px-4 py-3">
            <a
              href={m.path}
              class={cn(
                "text-lg font-semibold leading-6 text-foreground underlined",
                pathname === m.path && "is--active"
              )}
              role="menuitem"
            >
              {m.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <div
    class={cn(
      "hidden items-center md:w-auto bottom-0 fixed justify-end left-0 p-4",
      "md:flex md:flex-1 md:justify-end md:mb-0 md:p-0 md:self-center md:static"
    )}
  >
    <ButtonLink href="/kontakt">Kontakt</ButtonLink>
  </div>
</div>
