<form
  name="contact"
  method="POST"
  data-netlify="true"
  action="/kontakt/success"
>
  <input
    type="hidden"
    name="subject"
    data-remove-prefix
    value="Kontaktanfrage via Webseite: (%{submissionId})"
  />
  <p class="hidden">
    <label>
      Don’t fill this out if you’re human: <input name="bot-field" />
    </label>
  </p>
  <div class="mx-auto max-w-xl lg:mr-0 lg:max-w-lg">
    <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
      <div>
        <label
          for="vorname"
          class="block text-sm font-semibold leading-6 text-gray-900"
        >
          Vorname
        </label>
        <div class="mt-2.5">
          <input
            required
            type="text"
            name="vorname"
            id="vorname"
            autocomplete="given-name"
            class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-brand sm:text-sm sm:leading-6"
          />
        </div>
      </div>
      <div>
        <label
          for="nachname"
          class="block text-sm font-semibold leading-6 text-gray-900"
        >
          Nachname
        </label>
        <div class="mt-2.5">
          <input
            required
            type="text"
            name="nachname"
            id="nachname"
            autocomplete="family-name"
            class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-brand sm:text-sm sm:leading-6"
          />
        </div>
      </div>
      <div class="sm:col-span-2">
        <label
          for="unternehmen"
          class="block text-sm font-semibold leading-6 text-gray-900"
        >
          Unternehmen
        </label>
        <div class="mt-2.5">
          <input
            type="text"
            name="unternehmen"
            id="unternehmen"
            autocomplete="company"
            class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-brand sm:text-sm sm:leading-6"
          />
        </div>
      </div>
      <div class="sm:col-span-2">
        <label
          for="email"
          class="block text-sm font-semibold leading-6 text-gray-900"
          >Email</label
        >
        <div class="mt-2.5">
          <input
            required
            type="email"
            name="email"
            id="email"
            autocomplete="email"
            class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-brand sm:text-sm sm:leading-6"
          />
        </div>
      </div>
      <div class="sm:col-span-2">
        <label
          for="telefonnummer"
          class="block text-sm font-semibold leading-6 text-gray-900"
        >
          Telefonnummer
        </label>
        <div class="mt-2.5">
          <input
            type="tel"
            name="telefonnummer"
            id="telefonnummer"
            autocomplete="tel"
            class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-brand sm:text-sm sm:leading-6"
          />
        </div>
      </div>
      <div class="sm:col-span-2">
        <label
          for="nachricht"
          class="block text-sm font-semibold leading-6 text-gray-900"
        >
          Ihre Nachricht
        </label>
        <div class="mt-2.5">
          <textarea
            required
            name="nachricht"
            id="nachricht"
            rows="4"
            class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-brand sm:text-sm sm:leading-6"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="mt-8 flex justify-end">
      <button
        type="submit"
        class="rounded-md bg-brand px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-brand/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand"
        >Send message</button
      >
    </div>
  </div>
</form>
