<script></script>

<div
  class="aspect-video flex min-h-[200px] bg-red-50 border border-red-400 rounded-2xl"
>
  <div class="flex flex-1 p-4 md:p-6">
    <div class="flex flex-1 flex-col justify-center items-center gap-8">
      <div class="font-medium leading-8 text-center space-y-3">
        <p>
          Diese Website verwendet Cookies von YouTube für die Einbindung von
          Videos. Außerdem werden Inhalte von externen Anbietern nachgeladen.
        </p>
        <p>
          Durch Klick auf "Akzeptieren" willigen Sie in die Nutzung dieser
          Cookies und externen Inhalte ein. Details zur Datenverarbeitung finden
          Sie in der <a href="/datenschutz" class="underlined font-semibold"
            >Datenschutzerklärung</a
          >.
        </p>
      </div>
      <p>Akzeptieren</p>
    </div>
  </div>
</div>
